body
{
margin: 0;
text-align: center;
font-family: "sans-serif",arial;
color: #40514E;
}

.toppest
{
  background-color: #CFFFFE;
  position: relative;
  padding: 150px;

}
hr
{
  color: #66BFBF;
  width: 4%;
  border-top: dotted;
  border-width: 5px;
  border-bottom: none;
  margin: 100px auto 100px auto;
}
.intro
{
  width: 30%;
  margin: auto;
}
.last{
  width: 30%;
  margin: 30px auto 60px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
  color: #fafafa;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, 4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, 4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, 4ad);
  background-image: -o-linear-gradient(top, #30e3cb, 4ad);
  background-image: linear-gradient(to bottom, #30e3cb, 4ad);
  text-decoration: none;
}
h1
{
  //562.5=90px;
  //16px=100%;
  //1em=16px;
  font-size:4.625rem;
margin-top:50px auto 0 auto;
font-family: 'Merriweather Sans', sans-serif;
color: #66BFBF;
}
h2
{
  font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
color: #66BFBF;
}
p
{
  line-height: 2;
}
.skill-row
{
 margin: 50px auto 100px auto;
text-align: left;
}
.pro
{
  font-weight: normal;
}
.design
{
  width:30%;
  margin:auto;
}
.chillie
{
  width: 12%;
float: right;
margin-right: 380px;
}
.mypic
{
  margin-top: 20px;
  width: 12%;

}
.skillpic
{
  width: 12%;
  float: left;
margin-left: 260px;
padding-right: 40px;
}
.know
{
  text-align: left;
margin-left: 400px;
}
h3
{
  font-family: 'Patrick Hand', cursive;
  color: #11999E;
}
p
{
  font-family: 'Patrick Hand', cursive;
}
.middle
{
margin: 100px 0 100px 0;
}

.bottom-container
{
  background-color: #CFFFFE;
  padding: 50px 0 20px;
}
.pro
{
  text-decoration: underline;
}
.bottomcloud
{
  position:absolute;
  left: 250px;
  bottom: 400px;
}
a
{
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover
{
  color: grey;
}
.topcloud
{
  position: absolute;
  right: 300px;
  top: 100px;
}
.profile
{
  image-resolution:
}
.footer-link
{
  color: #11999E;
}
.copyright
{
  color: grey;
  padding: 20px 10px;
}
